.career-stat {
  font-weight: bold;
}
.player-stats-table-header {
  padding: 7px !important;
  text-align: left !important;
}
.player-stats-table
{
  display: inline-block;
  font-size: 0.9em;
  margin: 20px auto;
}
.season-stat, .career-stat {
  padding: 2px 7px !important;
}
