.app-menu {
  background-color: white;
  border: 0px;
  text-align: left;
  width: 100%
}
.menu-item, .menu-item-active {
  background-color: white;
  border-left: 0.5px solid grey;
  border-right: 0.5px solid grey;
  border-radius: 3px;
  color: black;
  display: inline-block;
  min-width: 150px;
  width: calc(40% / 3);
  padding: 12px;
  text-align: center;
}
.menu-item-active {
  color: #00A0FF
}
