.player-game-log {
  display: inline-block;
  margin: 20px auto;
}
.player-game-log-cell-headers {
  text-align: left !important;
}
.player-game-log-stat, .player-game-log-cell-headers {
  font-size: 0.9em;
  padding: 2px 7px !important;
}
.player-game-log-header {
  text-align: left;
}
.player-game-log-menu-item {
  width: calc(100% / 2);
}
.player-game-log-table-wrapper {
  margin: 20px 0px
}
