.player-game-log {
  display: inline-block;
  margin: 20px auto;
}
.player-game-log-cell-headers {
  text-align: left !important;
}
.player-game-log-min-index-dropdown {
  text-align: right;
}
.player-game-log-min-index-dropdown-header {
  display: inline-block;
  margin-right: 3px;
}
.player-game-log-stat, .player-game-log-cell-headers, .player-game-log-stat-bad .player-game-log-stat-good {
  font-size: 0.9em;
  padding: 2px 7px !important;
}
.player-game-log-stat-bad {
  font-weight: 900;
  font-size: 0.9em;
  padding: 2px 7px !important;
  background-color: #CC8080 !important;
}
.player-game-log-stat-good {
  font-weight: 900;
  font-size: 0.9em;
  padding: 2px 7px !important;
  background-color: #00FF80 !important;
}
.player-game-log-header {
  margin-bottom: 0.5rem;
  text-align: left;
}
.player-game-log-menu-item {
  width: calc(100% / 3);
}
.player-game-log-table-wrapper {
  margin: 20px 0px
}

@media only screen and (max-width: 767px) {
  .player-stats-table, .ui.collapsing.stackable.table.player-table-stats {
    width: 100%;
  }
  .ui.table thead tr th.player-game-log-cell-headers, .ui.table tfoot tr th.player-stats-table-footer {
    display: table-cell !important;
    width: 70px !important;
  }
  .ui.table tbody tr {
    padding: 0px 0px !important;
  }
  .ui.table tbody tr td.player-game-log-stat, .ui.table tbody tr td.player-game-log-stat-bad,
    .ui.table tbody tr td.player-game-log-stat-good {
    padding: 2px 7px !important;
    display: table-cell !important;
    font-size: 0.8rem;
    text-align: center;
    width: 70px !important;
  }
}
