.chart-type-selector {
  text-align: right;
}
.chart-type-selector-header {
  display: inline-block;
  margin-right: 3px;
}
.player-game-log-min-index-dropdown {
  text-align: right;
}
.player-game-log-min-index-dropdown-header {
  display: inline-block;
  margin-right: 3px;
}
.player-game-log-menu-item {
  width: calc(100% / 3);
}
.player-game-log-table-wrapper {
  margin: 20px 0px;
  max-width: 100vw;
  overflow-x: auto;
}

@media only screen and (max-width: 767px) {
  .player-stats-table, .ui.collapsing.stackable.table.player-table-stats {
    width: 100%;
  }
  .ui.table thead tr th.player-game-log-cell-headers, .ui.table tfoot tr th.player-stats-table-footer {
    display: table-cell !important;
    width: 70px !important;
  }
  .ui.table tbody tr {
    padding: 0px 0px !important;
  }
  .ui.table tbody tr td.player-game-log-stat, .ui.table tbody tr td.player-game-log-stat-bad,
    .ui.table tbody tr td.player-game-log-stat-good {
    padding: 2px 7px !important;
    display: table-cell !important;
    font-size: 0.8rem;
    text-align: center;
    width: 70px !important;
  }
}
