.App-header {
  background-color: #222;
  /* padding: 20px; */
  color: white;
  position: fixed;
  overflow-y: visible;
  width: 100%;
  z-index: 100;
}

.App-title-wrapper {
  height: 70px;
  vertical-align: middle;
}

.App-title {
  font-size: 1.5em;
  padding-top: calc(50px - 1.5em);
}
